$main_bg: #111111;
$secondary_bg: #2B2B2B;
$primary_text: #FFFFFF;
$secondary_text: #CCCCCC;
$accent_text: #15b8af;
$primary_ui_color: #4C4C4C;
$secondary_ui_color: #333333;
$accent_ui_color: #FFB100;
$status_succees : #00C853;
$status_error: #FF1744;
$status_warning: #FF9100;
$status_info : #2979FF;
$link_color: #9FA8DA;
$button_color: #6C63FF;
$hover_state: #424242;
$active_state:#333333;